body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #666;
}

/*Navbar*/

.nav-container {
    color: white;
    background-color: #383E4C;
    border-color: #383E4C;
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    overflow: hidden;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: block;
    text-align: center;
}

ul {
    display: inline-flex;
    list-style: none;
}

.list {
    padding: 6px;
    display: inline-block;
    position: relative;
}

.nav-links {
    background: #383E4C;
    border: 1px solid #646d7c;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.nav-links:hover {
    background: #49505F;
}

/*Homepage*/

.pimg1 {
    background-image: url('./img/bg-1.jpg');
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-text {
    text-align: center;
    margin: 20px 0px 10px;
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

.subtitle-text {
    text-align: center;
    margin: 10px 0px;
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333;
}

/*About Us*/

.about-section {
    height: 100%;
    padding-top: 70px;
    box-sizing: border-box;
}

.first-group-container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.first-group-content {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    box-sizing: border-box;
}

.first-group-content:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-container, .col-2-container, .col-3-container {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 33%;
}

.feature-content {
    background: #f2f2f2;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.first-group-img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
    box-sizing: border-box;
}

.col-1-title, .col-2-title, .col-3-title {
    padding: 0 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}

.col-1-title {
    color: #178A27;
}

.col-2-title {
    color: #1686C1;
}

.col-3-title {
    color: #666;
}

.col-1-text, .col-2-text, .col-3-text {
    padding: 0 20px 35px;
    text-align: left;
    color: #333;
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}

.col-1-btn, .col-2-btn, .col-3-btn {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 30px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.col-1-btn {
    background: #178A27;
}

.col-2-btn {
    background: #1686C1;
}

.col-3-btn {
    background: #852406;
}

/*Blog area*/

.blog-area {
    margin: 60px 0px;
}

.second-group-container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.second-group-content {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.second-group-content:after {
    content: "";
    display: table;
    clear: both;
}

.col-4-container, .col-5-container {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 50%;
}

.blog-content {
    background: #F2F2F2;
    padding-bottom: 25px;
    max-width: 555px;
    margin: 0 auto;
}

.second-group-img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}

.col-4-title, .col-5-title {
    color: #666;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.col-4-text, .col-5-text {
    margin-bottom: 21px;
    padding: 27px;
    text-align: left;
    color: #333;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn-span {
    margin-left: 0;
}

.col-4-btn, .col-5-btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

/*Services*/

.service-section {
    background-attachment: fixed;
    background-image: url('./img/bg-2.jpg');
    min-height: 313px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.service-content {
    margin-right: -15px;
    margin-left: -15px;
}

.service-content:after {
    display: table;
    content: "";
}

.service-position {
    margin: 65px 0px 85px;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.service-title {
    color: #fff;
    text-shadow: 2px 2px #aaa;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0.67em 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.service-text {
    font-size: 18px;
    color: #fff;
    line-height: 1.6em;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*Service Columns*/

.service-col-section {
    margin: 60px 0;
}

.service-col-container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.service-mult-col-content {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.service-mult-col-content:after {
    display: table;
    content: "";
}

.lake-position, .mountain-position, .beach-position, .fall-position {
    width: 46%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
}

.lake-content, .mountain-content, .beach-content, .fall-content {
    background-color: #f2f2f2;
    height: 500px;
    max-width: 260px;
    margin: 0 auto 30px;
}

.lake-img, .mountain-img, .beach-img, .fall-img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}

.lake-title, .mountain-title, .beach-title, .fall-title {
    color: #666;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lake-text, .mountain-text, .beach-text, .fall-text {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.service-btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.service-row {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.service-big-col-content {
    margin-right: -15px;
    margin-left: -15px;
}

.service-big-col-content:after {
    display: table;
    content: "";
}

.big-col-position {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.lifeguard-content {
    background-color: #f2f2f2;
    max-width: 1140px;
    width: 100%;
    display: inline-block;
}

.lifeguard-img {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: middle;
}

.lifeguard-text-position {
    padding: 30px;
}

.lifeguard-title {
    color: #666;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lifeguard-text {
    margin-bottom: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1.6em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lifeguard-btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/*Contact*/

.contact-section {
    background-image: url('./img/bg-3.jpg');
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-top: 80px;
    padding-bottom: 60px;
}

.contact-container {
    max-width: 750px;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-content {
    margin-right: -15px;
    margin-left: -15px;
}

.contact-content:after {
    display: table;
    content: "";
}

.contact-position {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.contact-title {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
    margin: 0.67em 0;
    text-shadow: 2px 2px #333;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contact-par-content {
    margin-right: -15px;
    margin-left: -15px;
}

.contact-par-content:after {
    display: table;
    content: "";
}

.contact-par-position {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-text {
    font-size: 18px;
    padding: 15px 0;
    background: rgba(242,242,242,0.4) none repeat scroll 0 0;
    border-radius: 5px;
    color: #000;
    margin-bottom: 20px;
    line-height: 1.6em;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.contact-form-content {
    margin-right: -15px;
    margin-left: -15px;
}

.contact-form-content:after {
    display: table;
    content: "";
}

.contact-form-position {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-form {
    margin-top: 0em;
}

.contact-form-left {
    padding-left: 0;
    width: 48%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.contact-form-right {
    padding-right: 0;
    width: 48%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
}

.contact-form-group {
    margin-bottom: 15px;
}

.contact-input-form-control {
    color: #000;
    border: none;
    background: rgba(242,242,242,0.4);
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 15px;
    cursor: text;
}

.contact-textarea-form-control {
    height: 156px;
    color: #000;
    border: none;
    background: rgba(242,242,242,0.4);
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    overflow: auto;
    margin-left: 35px;
    cursor: text;
    flex-direction: column;
    resize: auto;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.contact-btn {
    background: #262628 none repeat scroll 0 0;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    transform: all 0.3s ease;
    border-color: #ccc;
    border: 1px solid;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 35px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    overflow: visible;
    align-items: flex-start;
}

.contact-btn:hover {
    background: #F2F2F2;
    color: #666;
    border: none;
}

::placeholder {
    color: #000;
}

/*Footer*/

.footer-container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.top-row {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.top-position {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-title {
    color: #666;
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 25px;
    margin-top: 35px;
    margin: 0.67em 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-text {
    color: #999;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.6em;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    box-sizing: content-box;
    overflow: hidden;
    width: 100%;
}

.bottom-row {
    margin-right: -15px;
    margin-left: -15px;
}

.bottom-position {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.copy {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 1.6em;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-link {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.6em;
}